/*
* @Author: lenovo
* @Date:   2017-08-17 16:01:24
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-01 16:42:06
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: : "微软雅黑","宋体",sans-serif;
	box-sizing: border-box;
	outline: none;
}
a{
	text-decoration: none;
}
body{
	background: #ffffff;
}